/* h1{
  color: blue;
} */
@keyframes hoverBoard{
  0%{margin-top:35px;}
  50%{margin-top:50px;}
  100%{margin-top:35px;}
}

@keyframes rotatingChip{
  0%{transform: rotateZ(0);}
  22%{color:rgba(0,255,255,1); text-shadow: 0 0 20px rgba(0,255,255,1); border-color: rgba(0,255,255,1); box-shadow: 0 0 5px 3px rgba(0,255,255,1);}
  23%{color:rgba(0,255,255,0); text-shadow: 0 0 20px rgba(0,255,255,0); border-color: rgba(0,255,255,0); box-shadow: 0 0 5px 3px rgba(0,255,255,0);}
  24%{color:rgba(0,255,255,1); text-shadow: 0 0 20px rgba(0,255,255,1); border-color: rgba(0,255,255,1); box-shadow: 0 0 5px 3px rgba(0,255,255,1);}
  25%{color:rgba(0,255,255,1); text-shadow: 0 0 20px rgba(0,255,255,1); border-color: rgba(0,255,255,1); box-shadow: 0 0 5px 3px rgba(0,255,255,1);}
  26%{color:rgba(0,255,255,0); text-shadow: 0 0 20px rgba(0,255,255,0); border-color: rgba(0,255,255,0); box-shadow: 0 0 5px 3px rgba(0,255,255,0);}
  27%{color:rgba(0,255,255,1); text-shadow: 0 0 20px rgba(0,255,255,1); border-color: rgba(0,255,255,1); box-shadow: 0 0 5px 3px rgba(0,255,255,1);}
  100%{transform: rotateZ(360deg);}
}

@keyframes pulse{
  0%{text-shadow: 0 0 20px magenta; color: rgba(0,0,0,0); border-color: rgba(0,0,0,0);}
  100%{text-shadow: 0 -1px 5px magenta; color: rgba(255,0,255,.8); border-color: rgba(255,0,255,.8);}
}

.flicker{
  animation: pulse .1s infinite;
}

@font-face {
    font-family: "Broadway-Engraved";
    src: url("images/BER.otf") format("opentype");
}

body{
    background-color:black;
    font-weight: lighter;
    font-family: "Courier New";
    font-size: 20px;
}

.message{
  color: cyan;
  text-shadow: 0 0 5px cyan;
  text-align: center;
  position: fixed;
  top: 100px;
  left: ;
}

.totals{
  color: lime;
  text-shadow: 0 0 5px lime;
  margin-top: 25px;
}

.the-table{
  /* background-color: #277714; */
  /* background-image: url("http://images.naldzgraphics.net/2014/08/28-sci-fi-metal-texure.jpg"); */
  /* border: 5px solid #dcdcdc; */
  /* background-image: linear-gradient(to top, grey, transparent); */
  box-shadow: 0 0 30px 5px lime;
  border: 15px solid lime;
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-radius: 30%;
  margin-top: 35px;
  padding: 30px 0;
  /* background: radial-gradient(rgba(0,255,0,1)15%, rgba(0,255,0,0)35%); */
  /* background: #111; */
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
  transform: rotateX(30deg);
  animation: hoverBoard 5s infinite;
}

.perspective{
    perspective: 400px;
}


.card{
  height: 120px;
  /* background-color: #fff; */
  color: black;
  margin: 10px;
  width: 12.6%;
  float: left;
}

.card-present{
  border: 2px solid magenta;
  box-shadow: 0 0 10px 3px magenta;
  color: magenta;
  text-shadow: 0 0 20px magenta;
  /* background-color: magenta; */
  font-size: 35px;
  text-align: center;
  padding: 5px;
  /* animation: pulse .1s; */
}
.dealer-cards > .card{
  transform: scale(-1, -1);
}

.player-chips{
  padding: 50px 0 0 0;
}

.chips{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 10px dotted cyan;
  color: cyan;
  text-align: center;
  font-size: 35px;
  line-height: 60px;
  vertical-align: center;
  box-shadow: 0 0 5px 3px cyan;
  text-shadow: 0 0 20px cyan;
  animation: rotatingChip 5s infinite;
  animation-timing-function: linear;
}


.btn{
  width: 100%;
  text-align: center;
  background-color: black;
  /* border: 5px solid #666; */
  border-top: 0;
  /* border:; */
  outline: none !important;
}
.btn.deal-button{
    border-right: 0;
}
.btn.stand-button{
  border-left: 0;
}
.btn.hit-button{
}


.btn:active:focus{
    background-color: lime;
    box-shadow: 0 0 30px 5px lime;
    border: none;
    color: black;
}

.btn:hover{
    background-color: black;
    color: lime;
    text-shadow: 0 0 5px lime;
}