body{
    background-color: maroon;
    /* background-image: url("http://i.imgur.com/ToQmMxA.gif"); */
    background-size: cover;
}

img{
    max-width: 100%;
}

.the-table{
    background-color: #277714;
    border:  5px dashed #dcdcdc;
    padding: 30px 0px;
    margin-top: 50px;
    border-radius: 10px;
    /* background-image: url("http://i.imgur.com/ToQmMxA.gif"); */
    background-size: cover;
}

button{
    width: 100%;
}

.card{
    height: 120px;
    background-color: white;
    /* background-image: url("http://i.imgur.com/ToQmMxA.gif"); */
    border: #277714 10px dashed;
    float: left;
}